.container{
    font-family: Bahnschrift;
}

.adding{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 500px;
}

.done{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 800px;
    margin-top: -100px;
}